body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #5f666d;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
}

#logo img {
  border-radius: 100px;
}

#menu {
  display: grid;
  margin-top: 15px;
}

#menu a {
  color: #ddd;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  text-decoration: underline;
}

#profiles {
  background-color: #f4f4f4;
  padding: 20px;
}

.gallery,
.thankyou {
  margin: 20px 0;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.profile-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.profile-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
/* Masonry image gallery styling */

.gallery {
  background-color: rgb(248, 238, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 1px;
  max-width: 100%;
  margin: 5px 0;
  columns: 4 300px;
  list-style: none;
}
.gallery .images .img {
  display: flex;
  gap: 0;
  justify-content: flex-start;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}
.gallery .images img {
  width: 80%;
  border-radius: 70px;
  /* transition: transform 0.2s ease; */
}

.gallery .images .img:hover img {
  transform: scale(1.1);
}

#Mini-P{
  background-color: rgb(215, 245, 235);
  padding: 20px;
}

#Mini-P h2{
  text-align: center;
  margin-bottom: 70px;
}

#Project-Grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.mini-project{
  background-color: #ddd;
  padding: 0 20px;
  border-radius: 8px;
}

#thankyou{
  background-color: rgb(247, 239, 214);
  padding: 20px;
  margin: 20px 0;
}

.thankyou{
  width: 80%;
}

.thankyou img{
  border-radius: 50px;
}

footer {
  background-color: #5f666d;
  padding: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #f1e7e7;
}

footer a:hover {
  text-decoration: underline;
}
